.battle-tab {
  max-height: 100vh;
  overflow: hidden;

  .battle-title {
    padding: 10px;
  }
}

.battle-screen {
  position: relative;

  .map {
    width: 2000px;
    height: 1200px;
    position: relative;
    border: 1px solid black;
    //z-index: 2;
  }
}

.touchpad {
  position: fixed;
  bottom: 3%;
  left: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  z-index: 2;

  .vertical-buttons {
    display: flex;
    justify-content: space-between;
  }

  .touch-button {
    background: linear-gradient(145deg, #444, #333);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 24px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), inset 0 2px 2px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;
    user-select: none;

    &:active {
      transform: scale(0.95);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.1);
    }

    &:hover {
      background: linear-gradient(145deg, #555, #444);
    }
  }
}

.loading-container {
  position: relative;
  padding: 5px 0;
  background: transparent;
  z-index: 2;
}