@import "./utils/_vars";
@import "./blocks/_body.scss";

*,
*::before,
*::after {
  box-sizing: inherit;
}

.html {
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
}

.body,
#root {
  width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
}

.body {
  overscroll-behavior: none;
}
